.wrapper{
	width: 800px;
	margin: 0 auto;
	&.afisha{
		background-image: url('./images/header_bg.jpg');
		height: 250px;
	}
	.header{
		content: '';
	    display: block;
	    position: relative;
	    background: rgba(0, 0, 0, 0.87);
	    height: 100%;
	    padding: 20px;
    	box-sizing: border-box;
    	.search{
    		width: 600px;
			margin: 0 auto;
			h1{
				color: #f55263;
			    margin: 0;
			    font-family: Arial;
			    font-size: 20px;
			}
			h2{
				margin-top: 50px;
				margin-bottom: 10px;
				color: white;
				font-family: Arial;
				text-transform: uppercase;
				font-weight: bold;
			}
			input{
				width: 100%;
			    padding: 8px;
			    background: rgba(0, 0, 0, 0.8);
			    border: none;
			    border-bottom: 2px solid #f55263;
			    color:white;
			}
			.type{
				margin-top: 20px;
				float: left;
				line-height: 24px;
				p{
					margin-right: 10px;
					color: white;
				    font-family: Arial;
				    text-transform: uppercase;
				    font-size: 12px;
				    font-weight: bold;
				    display: inline;
				}
				button{
					cursor: pointer;
					color: white;
					padding: 5px;
					font-size: 12px;
					background: grey;
					text-transform: uppercase;
					padding: 3px 10px;
				    border: none;
				    margin: 0 5px;
				    &.active{
				    	background: #f55263;
				    }
				}
			}
			.search-btn{
				margin-top: 20px;
				float: right;
				cursor: pointer;
				color: white;
				border: none;
				font-family: Arial;
				padding: 5px 40px;
				text-transform: uppercase;
				font-size: 12px;
				background: #f55263;
			}
    	}
	    
	}
	
}