html{
	height: 100%;
	background: black;
	body{
		height: 100%;
		margin: 0;
		.film-page{
			.director-films{
				padding: 10px 40px;
				background: #ddd;
				overflow: hidden;
				font-family: Arial;
				margin: 0;
				font-weight: bold;
			}
		}
	}
	.white{
		background: white;
	}
	.content{
		min-height:100%;
		position: relative;
		padding-bottom: 50px;
		.footer{
			height:50px;
			width:100%;
			position: absolute;
			bottom:0;
			background: rgb(65, 65, 65);
			p {
				width:800px;
				margin: 0 auto;
				color: #f55263;
				font-family: Arial;
				font-weight: bold;
				line-height: 50px;
			}
		}
	}
}